<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="description" content="Go Mobility Examen Bokobza Miguet">
        <meta name="author" content="Bokobza Samuel / Miguet Carole">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Projet fin d'année</title>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="../../../bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../../bower_components/fontawesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="../../../public/assets/SASS/css/app.css">
        <!--[if lt IE 9]>
            <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
<body>

<header class="header page-header container-fluid">
<div class="row">
    <div class="dropdown col-md-1"></div>
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
            Rejoignez-nous
        <span class="caret"></span>
        </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="connexion.html">Connexion</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="inscription.html">Inscription</a></li>
                <li role="presentation" class="divider"></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Paramètre</a></li>
            </ul>
    </div>
        <a href="../../../index.html" class="header-logo">
            <img class="img-circle" src="../images/logo.png" alt="Logo">
        </a>
        <h1 class="header-titre">Go Mobility </h1>

            <ul class="nav nav-pills col-md-5 header-navigation" role="navigation">
                <li><a href="../../../index.html" class="header-menu-item">Le Projet</a></li>
                <li><a href="experiences.html" class="header-menu-item">Vos Expériences</a></li>
                <li><a href="participer.html" class="header-menu-item">Je Participe</a></li>
            </ul>
    </div>
</header>

<div class="container-fluid container">
    <div class="row">
        <ul class="breadcrumb col-md-3">
            <li><a href="../../../index.html">Accueil</a></li>
            <li class="active"><a href="#">Inscription</a></li>
        </ul>
    </div>

    <div class="row">
    <div class="container-block col-md-9">
         <h2>Formulaire d'inscription</h2>
      <div class="container-block-elem">
        <h2 class="container-block-title">Inscription</h2>
          <form role="form">
              <div class="form-group">
                <input type="text" class="form-control" name="pseudo" placeholder="Pseudo">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="name" placeholder="Nom">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="prenom" placeholder="Prenom">
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" placeholder="Veuillez saisir votre email">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Mot de passe">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" name="repeatpassword" placeholder="Répeter Mot de passe">
              </div>  
              <div class="form-group">
                  <input type="file">
                  <p class="help-block">Votre image de profil</p>
              </div>
              <textarea class="form-control" rows="3" placeholder="Un peu + sur vous ...."></textarea>
              <div class="checkbox">
                  <input type="checkbox"> Je souhaite recevoir la newsletter du site
              </div>
              <button type="submit" class="btn btn-info"> <span class="glyphicon glyphicon-ok"></span> S'inscrire</button>
            </form>
       </div>
 
    </div>

        <div class="container-fluid aside col-md-3">
            <aside class="side">
               <ul class="list-group first-block">
                    <li class="list-group-item"><span class="badge">5831</span>Engagés </li>
                    <li class="list-group-item">Meilleurs "eco-acteur"</li>
                    <li class="list-group-item">Appli Mobile</li>
                </ul>
            </aside>


            <aside class="side">
            <a href="actus.html"><h2 class="aside-title">Actualité</h2></a> 
                <ul class="list-group">
                    <li class="list-group-item">Bienvenue à Mimi</li>
                    <li class="list-group-item">Aujourd'hui <span class="badge">31</span> nouveaux</li>
                </ul>
            </aside>

            <aside class="side">
            <a href="#"><h2 class="aside-title">Nous Retrouver</h2></a> 
                <ul class="list-group">
                    <li class="social "><i class="social-link fa fa-facebook-square fa-5x"></i></li>
                    <li class="social "><i class="social-link fa fa-twitter-square fa-5x"></i></li>
                    <li class="social "><i class="social-link fa fa-google-plus-square fa-5x"></i></li>
               </ul>
            </aside>
        </div>
    </div>
</div>

<footer class="footer page-footer container-fluid">
    <div class="row">
        <div class="col-md-6 footer-mentions">
            <ul class="nav">
                <li class="fotter-item"><a href="#">Metions légales</a></li>
                <li class="fotter-item"><a href="contact.html">Contact</a></li>
            </ul>
        </div>

        <div class="col-md-6 footer-partenaires">
            <ul class="nav">
                <li class="fotter-item"><a href="#">Ardeche</a></li>
                <li class="fotter-item"><a href="#">Conseil géneral</a></li>
            </ul>
        </div>
    </div>
<footer/>

        <script src="../../../bower_components/jquery/dist/jquery.min.js"></script>
        <script src="../../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="../js/app.js"></script>
    </body>
</html>