<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="description" content="Go Mobility Examen Bokobza Miguet">
        <meta name="author" content="Bokobza Samuel / Miguet Carole">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Projet fin d'année</title>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="../../../bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../../bower_components/fontawesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="../SASS/css/app.css">
        <!--[if lt IE 9]>
            <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>



        <header class="header page-header container-fluid">
            <div class="row">
            <a href="../../../index.html" class="header-logo">
                <img class="img-circle" src="../../../public/assets/images/logo.png" alt="Logo">
            </a>
            <h1 class="header-titre">Go Mobility </h1>
                <ul class="nav nav-pills col-md-5 header-navigation" role="navigation">
                    <li class="active"><a href="../../../index.html" class="header-menu-item">Le Projet</a></li>
                    <li><a href="experiences (2).html" class="header-menu-item">Vos Expériences</a></li>
                    <li><a href="participer.html" class="header-menu-item">Je Participe</a></li>
                </ul>
            </div>
        </header>
              <div class="container-fluid container">
            <div class="row">
                <ul class="breadcrumb col-md-3">
                    <li><a href="#">Accueil</a></li>
                </ul>
            </div>
            
            
            <h1>Publiez votre trajet !</h1>
<form role="form">
<h2>Trajet</h2>
  <div class="form-group">
    <label for="DepartTrajet">Départ :*</label>
    <input class="form-control" id="DepartTrajet" placeholder="D'ou êtes vous parti(e) ?">
  </div>
  <div class="form-group">
    <label for="DestinationTrajet">Arrivée :*</label>
    <input class="form-control" id="DestinationTrajet" placeholder="Ou êtes vous allé(e) ?">
  </div>

<h2>Transport</h2>

<div class="radio">
  <label>
    <input type="radio" name="transportTrajet" id="optionsTrajet1" value="à pied" checked>
    à pied
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="transportTrajet" id="optionsTrajet2" value="à vélo">
    à vélo
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="transportTrajet" id="optionsTrajet3" value="en transport en commun">
    en transport en commun
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="transportTrajet" id="optionsTrajet4" value="en roller">
    en roller
  </label>
</div>

<h2>Votre trajet est de type :</h2>
<div class="radio">
  <label>
    <input type="radio" name="typeTrajet" id="typeTrajet1" value="touristique" checked>
    Touristique
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="typeTrajet" id="typeTrajet2" value="sportif">
    Sportif
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="typeTrajet" id="typeTrajet3" value="go to work">
    go to work
  </label>
</div>
  

  <h2>Expérience</h2>
  <div class="form-group">
  	<label for="DescriptionTrajet">Comment votre trajet s'est-il déroulé ?</label><br/>
  	<textarea id="DescriptionTrajet" class="form-control" rows="3"></textarea>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox"> Je souhaite participer au Jeu Concours !
    </label>
  </div>
  <button type="submit" class="btn btn-success">Je publie mon trajet !</button>
  <p class="help-block">Les champs marqués de (*) sont obligatoires.</p>
</form>

<div class="container-fluid aside">
                <aside class="side">
                   <ul class="list-group first-block">
                        <li class="list-group-item"><span class="badge">5831</span>Engagés </li>
                        <li class="list-group-item">Meilleurs "eco-acteur"</li>
                        <li class="list-group-item">Appli Mobile</li>
                    </ul>
                </aside>

            
                <aside class="side">
                    <h4>Actualité</h4>
                    <ul class="list-group">
                        <li class="list-group-item">Bienvenue à Mimi</li>
                        <li class="list-group-item">Aujourd'hui <span class="badge">31</span> nouveaux</li>
                    </ul>
                </aside>
            
                <aside class="side">
                    <h4>Nous retrouver</h4>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <i class="social fa fa-facebook-square fa-5x"></i>
                            <i class="social fa fa-twitter-square fa-5x"></i>
                            <i class="social fa fa-google-plus-square fa-5x"></i>
                        </li>
                    </ul>
                </aside>
           </div>
        </div>

        <footer class="footer page-footer container-fluid">
            <div class="row">
                <div class="col-md-6 mentions">
                    <ul class="nav">
                        <li class="fotter-item"><a href="#">Metions légales</a></li>
                        <li class="fotter-item"><a href="#">Contact</a></li>
                    </ul>
                </div>

                <div class="col-md-6 partenaires">
                    <ul class="nav">
                        <li class="fotter-item"><a href="#">Ardeche</a></li>
                        <li class="fotter-item"><a href="#">Conseil géneral</a></li>
                    </ul>
                </div>
            </div>
        <footer/>





        <script src="../../../bower_components/jquery/dist/jquery.min.js"></script>
        <script src="../../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="../../../public/assets/js/app.js"></script>
    </body>
</html>ml>