html {
  background-color: #ecf0f1; }

body {
  background-color: #ecf0f1;
  width: 100%;
  margin: 0 auto;
  margin-top: -40px;
  font-family: "Open sans" sans-serif;
  line-height: 1.75;
  font-size: 1em;
  color: #737373; }

h1 {
  font-size: 7.125em; }

h2 {
  font-size: 1.2em;
  line-height: 1.25;
  color: #ecf0f1; }

a {
  font-size: 2em;
  color: #ecf0f1;
  text-decoration: none; }
  a:hover {
    text-decoration: none;
    color: #ecf0f1; }

.header, .footer {
  width: 100%; }

header {
  background-color: #7ed2ec; }

.header-logo {
  float: left;
  margin: 12px; }

.header-menu {
  float: right; }

.header-titre {
  color: #ecf0f1;
  margin-top: 52px; }

.header-navigation {
  float: right; }

.nav-pills > li > a {
  border-radius: 0px; }
  .nav-pills > li > a:hover {
    background-color: #0e4a5d; }

.nav-pills > li.active > a {
  background-color: #0e4a5d;
  color: white;
  border-radius: 0px; }
  .nav-pills > li.active > a:hover {
    background-color: #1b91b6; }

.page-header {
  padding-bottom: 0px; }

.container {
  width: 90%;
  height: auto; }

.breadcrumb {
  float: left; }
  .breadcrumb a {
    font-size: 1.5em;
    font-weight: bold;
    color: #9b59b6; }
    .breadcrumb a:hover {
      color: #c6a0d5; }

.aside {
  float: right;
  width: 25%; }

.side {
  width: 100%;
  float: right;
  margin: 20px; }
  .side li {
    font-size: 1.3em; }
  .side h4 {
    font-size: 2.5em; }

.list-group-item {
  border: 0px; }
  .list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px; }

.badge {
  background-color: #2ecc71; }

.social, .fa-twitter-square, .fa-google-plus-square {
  height: auto;
  width: auto;
  color: #2980b9;
  margin-left: 26px; }

.fa-twitter-square {
  color: #3498db; }

.fa-google-plus-square {
  color: #e74c3c; }

footer {
  background-color: #7ed2ec; }

.mentions, .partenaires {
  float: left;
  padding-left: 75px; }
  .mentions a, .partenaires a {
    font-size: 1.5em;
    color: #ecf0f1;
    float: left; }

.partenaires {
  float: right; }
