$bleu     :#7ed2ec;
$blanc    :#ecf0f1;
$text     :#737373;
$vert     :#2ecc71;
$violet   :#9b59b6;

$blancbody:#f5f5f5;
$bleufonce:#34495e;

$socialfb :#2980b9;
$socialtw :#3498db;
$socialgp :#e74c3c;



html{
	background-color: $blanc;
}

body{
	background-color: $blanc;
	width: 100%;
	margin: 0 auto;
	margin-top: -40px;
	font-family: "Open sans" sans-serif;
	line-height: 1.75;
	font-size: 1em;
	color: $text;
}

h1{
	font-size: 7.125em;
}

h2{
	font-size: 1.2em;
	line-height: 1.25;
	color: $blanc;
}

a {
	font-size: 2em;
	color: $blanc;
	text-decoration: none;
	&:hover{
		text-decoration: none;
		color: $blanc;

	}
}
