/***************************
		Couleurs 
***************************/
$bleu     :#7ed2ec;
$blanc    :#ecf0f1;
$text     :#737373;
$vert     :#2ecc71;
$violet   :#9b59b6;
$orange   :#e67e22;

$blancbody:#ffffff;
$bleufonce:#34495e;

$socialfb :#2980b9;
$socialtw :#3498db;
$socialgp :#e74c3c;
/***************************
		Fin Couleurs 
***************************/
html{
}

body{
	background-color: $blancbody;
	width: 100%;
	margin: 0 auto;
	font-family: "Open-sans", arial;
	line-height: 1.75;
	font-size: 1em;
	color: $text;
}

/***************************
	Polices de Caractère 
***************************/
/* @font-face {
	Standard
    font-family: Raleway_Standard;
    src: url(../../font/Raleway/Raleway-Bold.ttf);
	Semi-Bold
    font-family: Raleway_Semi-Bold;
    src: url(../../font/Raleway/Raleway-SemiBold.ttf);
	Moyen
    font-family: Raleway_Moyen;
    src: url(../../font/Raleway/Raleway-Medium.ttf);
	Extra-Bold
    font-family: Raleway_Extra-Bold;
    src: url(../../font/Raleway/Raleway-ExtraBold.ttf);
	Lourd
    font-family: Raleway_Lourde;
    src: url(../../font/Raleway/Raleway-Heavy.ttf);
	Léger
    font-family: Raleway_Leger;
    src: url(../../font/Raleway/Raleway-Light.ttf);
	Très leger
    font-family: Raleway_Tres-Leger;
    src: url(../../font/Raleway/Raleway-ExtraLight.ttf);
	Fin
    font-family: Raleway_Fin;
    src: url(../../font/Raleway/Raleway-Thin.ttf);
}
 */
/***************************
	Base des titres 
***************************/
h1{
	font-size: 7.125em;
}

h2{
	font-size: 3em;
	line-height: 1.25;
	color: $text;
	cursor:default;
	&:hover{
	color: lighten($text, 10%);

	}
}

/***************************
	Base des liens 
***************************/
a {
	font-size: 2em;
	color: $blancbody;
	text-decoration: none;
	&:hover{
		text-decoration: none;
		color: $blanc;

	}
}

/***************************
	Base des boutons 
***************************/
.btn{
	border-radius: 0px;
	float:right;
}

textarea {
	margin-bottom: 12px;
}

/***************************
	Base du bloc container 
***************************/

	.container-block {
		float: left;
	}
