/***************************
****************************
		CONTAINER
****************************
***************************/

.breadcrumb{
	float: left;
	a {
		font-size: 1.5em;
		font-weight:bold ;
		color:$orange;
		&:hover {
			color:lighten($orange, 20%);
		}
	}
}

/***************************
	Elément principal du conteneur 
***************************/
.container-block-elem{
	height: auto;
	background-color: lighten($bleufonce, 50%);
	padding: 26px 8px 26px 26px; 
	margin: 0px 26px 26px 26px; 
	color:$blanc;

	&:h2{
		color:$blanc;
	}
	.bg-success{
		width: 50%;
		background-color: lighten($vert, 20%);
		padding: 5px 5px 5px 5px;
	}
	p{
		font-size: 1.5em;
		line-height: 1.75;
		color:$blanc; 
	}
	a{
		font-size: 1.12em;
		color:$orange;
		&:hover{
			background-color: $bleufonce;
			color: $blanc;
		}
	}
}

.container-block-title {
	cursor: pointer;
	color: $blanc;
}

/***************************
****************************
			ASIDE
****************************
***************************/

.aside {
	float: right;
	width: 25%;
}

.aside-title {
	@extend .container-block-title;
	font-size: 1.4em;
	color: $text;
}

.side {
	width: 100%;
	float: right;
	margin: 20px;
	li{
		font-size: 1.3em;
		background-color: $blanc;
		list-style-type:none; 
	}
	h4{
		font-size:2.5em;
		cursor: default;
	}
}

.list-group-item{
	cursor:default;
	&:first-child{
		border-top-left-radius:0px;
		border-top-right-radius:0px;
	}&:last-child{
		border-bottom-left-radius:0px;
		border-bottom-right-radius:0px;
	}
	&:hover{
		background-color: $bleufonce;
		color: $blanc;
	};
}

.badge{
	background-color: $vert;
	border-radius: 0px;
}

.social {
	background-color: transparent !important;
	width: 33%;
	float: left;

}

.social-link{
	height: auto;
	width : auto;
	color : $socialfb;
	margin-left: 15px;
	&:hover{
		cursor:pointer;
		color:lighten($socialfb, 20%);
	}
}

.fa-twitter-square{
	@extend .social-link;
	color : $socialtw;
	&:hover{
		color:lighten($socialtw, 20%);
	}
}

.fa-google-plus-square{
	@extend .social-link;
	color : $socialgp;
	&:hover{
		color:lighten($socialgp, 20%);
	}
}


/***************************
	ACTU ACTU-SINGLE
***************************/
.actu-single{
	cursor:default;
}

.col-md-5 .actu-single{
	@extend .actu-single;
	width: 100%;
}

/***************************
	EXPÉRIENCE
***************************/
.experience-badge {
	font-size: 2em;
	float: right;
	background-color: $bleufonce;
	cursor: default;
}

.experience-type {
	margin-bottom: 0px;

	
}

.experience-carte {
	height: 26%;
	margin: 8px 8px 8px 8px;
	border: 0px;
}

.panel {
		border-radius: 0px;
		border-color: $text;
}
.panel-body {
	color:$text !important;
}

/***************************
	EXPÉRIENCES
***************************/

.experience-single{
	.bg-success {
		width: 100%;
	}
	.experience-badge {
		font-size: 1em;
	}
}

/***************************
	MON COMPTE
***************************/
.compte .nav-pills>li{
	background-color:$bleufonce;
		&:first-child{	
			margin-left: 25px;
		};
		
}

.compte .nav-pills>li.active>a {
	background-color:lighten($bleufonce, 20%);
	color: $blancbody;
	border-radius: 0px;

}

/***************************
		TRAJET
***************************/

table {
	text-align: center;
}

table .badge {
	background-color:$socialfb;
	font-size: 1.8em;
}