.container {
	width: 90%;
	height: auto;
}

.breadcrumb{
	float: left;
	a {
		font-size: 1.5em;
		font-weight:bold ;
		color:$violet;
		&:hover {
			color:lighten($violet, 20%);

		}
	}
}

.container-block{
	float: left;
}

.container-block-news{
	height: auto;
	float: left;
	background-color: $blancbody;
	padding: 26px; 
	margin: 26px 26px 26px 26px; 
	&:h2{
	color:$bleufonce;
	}
	.bg-success{
		width: 50%;
		background-color: lighten($vert, 20%);
		padding: 5px 5px 5px 5px;
	}
	p{
		font-size: 1.5em;
		line-height: 1.75; 
	}
	a{
		font-size: 1em;
		color:$orange;
		&:hover{
			background-color: $bleufonce;
			color: $blanc;
		}
	}
}

.col-md-5 .actu-single{
	width: 100%;
}

.aside {
	float: right;
	width: 25%;
}

.side{
	width: 100%;
	float: right;
	margin: 20px;
	li{
		font-size: 1.3em;
		list-style-type:none; 
	}
	h4{
		font-size:2.5em;
	}
}

.list-group-item{
	border:0px;
	&:first-child{
		border-top-left-radius:0px;
		border-top-right-radius:0px;
	}
}

.badge{
	background-color: $vert;
	border-radius: 0px;
}

.social {
	background-color: #fff;
	width: 33%;
	float: left;

}

.social-link{
	height: auto;
	width : auto;
	color : $socialfb;
	margin-left: 15px;
}

.fa-twitter-square{
	@extend .social-link;
	color : $socialtw;
}

.fa-google-plus-square{
	@extend .social-link;
	color : $socialgp;
}