/***************************
****************************
		FOOTER
****************************
***************************/
footer{
	background-color:$bleu;
}

.footer-mentions {
	float: left;
	padding-left: 75px;
	a {
		font-size: 1.5em;
		color:$blanc;
		float: left;
		&:hover{
		color:$bleufonce;
		}
	}
}

.footer-partenaires {
	@extend .footer-mentions;
	float: right;
}


/***************************
			ADMIN
***************************/

.admin{
	background-color: $bleufonce;
}
