/***************************
****************************
			HEADER
****************************
***************************/
header{
	background-color: $bleu;
	height: 165px;
}

.header-logo{
	float:left;
	margin: 12px ;
}

.header-menu {
	float: right;
}

.header-titre{
	color:$blanc;
}

.header-navigation{
	float: right;

}
.nav-pills > li > a{
	border-radius: 0px;background-color:lighten($bleufonce, 30%);
	&:hover{
	background-color:lighten($bleufonce, 50%);}
	
}

.nav-pills>li.active>a {
	background-color:lighten($bleufonce, 30%);
	color:lighten($blanc, 10%);
	border-radius: 0px;
	&:hover{
	background-color:lighten($bleufonce, 30%);}

}


.page-header {
	padding-bottom: 0px;
}


.dropdown{
	float: right;
	margin:26px 0px 0px 0px;
}

.dropdown-small{
	float: right;
	margin-top: 100px;
}

.dropdown-menu {
	width:20%;
	top:32px;
	right:3px;
	font-size:1em;
	float:right;

}

.dropdown-menu >li{
	font-size: 0.8em;
}

/***************************
			ADMIN
***************************/

.header-admin{
	background-color: $bleufonce;
}
