/***************************
****************************
			HEADER
****************************
***************************/
header{
	background-color: $bleu;
}
.header-logo{
	float:left;
	margin: 12px ;
}

.header-menu {
	float: right;
}

.header-titre{
	color:$blanc;
	margin-top: 52px;
}

.header-navigation{
	float: right;

}
.nav-pills > li > a{
	border-radius: 0px;
	&:hover{
	background-color:lighten($bleufonce, 30%);}
	
}

.nav-pills>li.active>a {
	background-color:lighten($bleufonce, 30%);
	color:lighten($blanc, 10%);
	border-radius: 0px;
	&:hover{
	background-color:lighten($bleufonce, 30%);}

}


.page-header {
	padding-bottom: 0px;
}