header{
	background-color: $bleu;
}
.header-logo{
	float:left;
	margin: 12px ;
}

.header-menu {
	float: right;
}

.header-titre{
	margin-top: 52px;
}

.header-navigation{
	float: right;
	margin-top: 40px;

}
.nav > li > a:hover{
	background-color:darken($bleu, 30%);
}
.nav > li.active > a {
	background-color:darken($bleu, 30%);
}